@page
@model Animal_Cafe_Core_Web_App.Pages.Reviews.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-white">Review Details</h1>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Review Details</h5>
            </div>
            <div class="card-body">
                <h4>Review Information</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Review.Rating)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Review.Rating)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Review.Comments)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Review.Comments)
                    </dd>
                    @if(Model.Review.ClientID != null){
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Review.Client)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Review.Client.Name)
                    </dd>
                    }
                    @if(Model.Review.AnimalID != null){
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Review.Animal)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Review.Animal.Name)
                    </dd>
                    }
                </dl>
            </div>
            <div class="card-footer">
                <a class="btn btn-edit" asp-page="./Edit" asp-route-id="@Model.Review.ID">Edit</a> 
                <a class="btn btn-back" asp-page="./Index">Back</a>
            </div>
        </div>
    </div>
</div>
