@page
@model Animal_Cafe_Core_Web_App.Pages.Reviews.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white">Reviews</h1>

<p>
    <a asp-page="Create" class="btn btn-add text-white">Add Review</a>
</p>
<div class="row">
    @foreach (var review in Model.Review)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <span class="badge text-dark" style="background-color:#a8896c">@review.Rating / 5</span>
                </div>
                <div class="card-body">
                    <p><strong>Breed:</strong> @review.Comments</p>
                    <p><strong>Review by:</strong> @review.Client.Email</p>
                    
                    @if(@review.AnimalID != null){
                    <p><strong>For Animal:</strong> @review.Animal.Name</p>
                    }
                </div>
                <div class="card-footer">
                    <a class="btn btn-edit" asp-page="./Edit" asp-route-id="@review.ID">Edit</a>
                    <a class="btn btn-details" asp-page="./Details" asp-route-id="@review.ID">Details</a>
                    <a class="btn btn-delete" asp-page="./Delete" asp-route-id="@review.ID">Delete</a>
                </div>
            </div>
        </div>
    }
</div>