@page
@model Animal_Cafe_Core_Web_App.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Product Details</h5>
            </div>
            <div class="card-body">
                <h4>Product Information</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Product.Name)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Product.Name)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Product.Price)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Product.Price)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Product.Description)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Product.Description)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Product.Category)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Product.Category)
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                <a class="btn btn-edit" asp-page="./Edit" asp-route-id="@Model.Product.ID">Edit</a>
                <a class="btn btn-back" asp-page="./Index">Back</a>
            </div>
        </div>
    </div>
</div>