@page
@model Animal_Cafe_Core_Web_App.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="row">
    @foreach (var product in Model.Product)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">

                    <p><strong>Product Name</strong> @product.Name</p>

                    <p><strong>Pruduct Price</strong> @product.Price</p>

                    <p><strong>Product Category</strong> @product.Category</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-edit" asp-page="./Edit" asp-route-id="@product.ID">Edit</a>
                    <a class="btn btn-details" asp-page="./Details" asp-route-id="@product.ID">Details</a>
                    <a class="btn btn-delete" asp-page="./Delete" asp-route-id="@product.ID">Delete</a>
                </div>
            </div>
        </div>
    }
</div>