@page
@model Animal_Cafe_Core_Web_App.Pages.Reservations.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Are you sure you want to delete this reservation?</h5>
            </div>
            <div class="card-body">
                <h4>Reservation Details</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-7">
                        @Html.DisplayNameFor(model => model.Reservation.Client.Name)
                    </dt>
                    <dd class="col-sm-13">
                        @Html.DisplayFor(model => model.Reservation.Client.Name)
                    </dd>
                    <dt class="col-sm-7">
                        @Html.DisplayNameFor(model => model.Reservation.YourBuddy.Name)
                    </dt>
                    <dd class="col-sm-13">
                        @Html.DisplayFor(model => model.Reservation.YourBuddy.Name)
                    </dd>
                    <dt class="col-sm-7">
                        @Html.DisplayNameFor(model => model.Reservation.ReservationDate)
                    </dt>
                    <dd class="col-sm-13">
                        @Html.DisplayFor(model => model.Reservation.ReservationDate)
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                <form method="post">
                    <input type="hidden" asp-for="Reservation.ID" />
                    <button type="submit" class="btn btn-delete">Delete</button>
                    <a class="btn btn-back" asp-page="./Index">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>

