@page
@model Animal_Cafe_Core_Web_App.Pages.Reservations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Reservations</h1>

<p>
    <a asp-page="Create" class="btn btn-add text-white">Create New</a>
</p>
<div class="row">
    @foreach (var reservation in Model.Reservation)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    @if (@reservation.ClientID != null)
                    {
                        <p><strong>Reservation Name</strong> @reservation.Client.Name</p>
                    }
                    @if (@reservation.AnimalID != null)
                    {
                        <p><strong>Animal Name</strong> @reservation.YourBuddy.Name</p>
                    }
                    <p><strong>Reservation Date</strong> @reservation.ReservationDate</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-edit" asp-page="./Edit" asp-route-id="@reservation.ID">Edit</a>
                    <a class="btn btn-details" asp-page="./Details" asp-route-id="@reservation.ID">Details</a>
                    <a class="btn btn-delete" asp-page="./Delete" asp-route-id="@reservation.ID">Delete</a>
                </div>
            </div>
        </div>
    }
</div>